In [15]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
import catboost
from catboost import CatBoostClassifier

In [16]:
print("catboost version: ",catboost.__version__)
print("Importing Data")
df = pd.read_csv('german_creditrisk_data.csv')
df.head()

catboost version:  1.2.7
Importing Data

   Age     Sex  Job Housing Saving accounts Checking account  Credit amount  Duration              Purpose  credit_risk
0   67    male    2     own             NaN           little           1169         6             radio/TV            1
1   22  female    2     own          little         moderate           5951        48             radio/TV            0
2   49    male    1     own          little              NaN           2096        12            education            1
3   45    male    2    free          little           little           7882        42  furniture/equipment            1
4   53    male    2    free          little           little           4870        24                  car            0

In [9]:
print("** Preprocessing Data **\n\n")
df.info()

** Preprocessing Data **


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   credit_risk       1000 non-null   int64
dtypes: int64(5), object(5)
memory usage: 78.2+ KB

In [10]:
df.fillna("Nan",inplace=True)
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)
print(X_train.head())

     Age     Sex  Job Housing Saving accounts Checking account  Credit amount  Duration              Purpose
703   41    male    2     own        moderate         moderate           2503        30             business
311   25    male    2     own        moderate              Nan           5511        24  furniture/equipment
722   24  female    1     own          little           little           1228        12                  car
629   64    male    1     own             Nan              Nan           3832         9            education
0     67    male    2     own             Nan           little           1169         6             radio/TV

In [13]:
print('Train Model')
model = CatBoostClassifier(iterations=2,
                          learning_rate=1,
                          depth=2)

model.fit(X_train,y_train,cat_features=['Sex','Job','Housing','Saving accounts','Checking account','Purpose'])

Train Model
0:	learn: 0.5648399	total: 153ms	remaining: 153ms
1:	learn: 0.5414153	total: 175ms	remaining: 0us

In [14]:
print('Saving the model')
pickle.dump(model,open('credit_risk_01_ml_model.pkl','wb'))

Saving the model